// includes
@import url("var.inc.less");
@import url("glyph.inc.less");

// tags
body {
	background: @lightest;
	color: @darkest;
	font: 300 16px/20px @font;
}

// classes
input {
	width: auto !important;
	height: auto !important;
}