// includes
@import url("var.inc.less");
@import url("glyph.inc.less");

@primary: #0C0;

// tags
body {
	background: @lightest;
	color: @darkest;
	font: 300 16px/20px @font;
}

// svg
svg {
	user-select: none;
	
	path {
		&.arc {
			//cursor: move;
			fill: transparent;
		}
	}
	
	.node {
		font-size: 12px;
		cursor: default;
		
		a {
			text-decoration: none;
			
			&:hover {
				fill: @primary;
			}
		}
		&:hover {
			//fill: #1f77b4;
		}
		&.source {
			fill: #2ca02c;
		}
		&.target {
			fill: #d62728;
		}
	}
	
	.link {
		fill: none;
		stroke: #1f77b4;
		stroke-opacity: .4;
		pointer-events: none;
		
		&.source,
		&.target {
			stroke-opacity: 1;
			stroke-width: 2px;
		}
		&.source {
			stroke: #d62728;
		}
		&.target {
			stroke: #2ca02c;
		}
	}
	
	&.linking {
		.node {
			color: @darkest;
			opacity: .5;
			cursor: crosshair;
			
			&:hover,
			&.linking {
				opacity: 1;
			}
		}
	}
}