<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <title>Murray Smith - Résumé</title>
  <link rel="icon" href="https://s.gravatar.com/avatar/cdcf18869ba9508c801c6abb9031c73e?s=256" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
  <link rel="stylesheet" href="./style.postcss" />
</head>
<body>
  <main>
    <div class="loader"></div>
  </main>

  <template id="template">
    <main v-if="resume">
      <header id="header">
        <div>
          <h1>{{ resume.info.name }}</h1>
          <p>{{ resume.info.description }}</p>
        </div>
        <figure>
          <img :src="resume.info.image" width="128" height="128" />
        </figure>
      </header>
      <section v-for="section of ['about','portfolio']" :id="section">
        <header>
          <h2><a :href="`#${section}`">{{ section }}</a></h2>
        </header>
        <ul class="nostyle columns">
          <li
            v-for="(article, i) of filtered[section]"
            :id="`${section}-${i}`"
            class="iconed"
          >
            <i :class="`fa fa-${article.icon}`" :title="article.name"></i>
            <span>{{ article.description }}</span>
            <ol v-if="article.items" class="picks">
              <li v-for="pick of topPicks(article.items)"><span v-if="!pick.url">{{ pick.name }}</span><a v-if="pick.url" :href="pick.url" target="_blank">{{ pick.name }}</a></li>
            </ol>
          </li>
        </ul>
      </section>
      <section id="social">
        <header>
          <h2><a href="#social">social</a></h2>
        </header>
        <ul class="nostyle">
          <li v-for="item of filtered.social">
            <a :href="item.url" :title="item.name" target="_blank" :class="'large fa fa-' + className(item.name)"></a>
          </li>
        </ul>
      </section>
      <section v-for="section of ['experience','education','volunteering']" v-if="filtered[section].length" :id="section">
        <header>
          <h2><a :href="`#${section}`">{{ section }}</a></h2>
        </header>
        <ol>
          <li v-for="item of (isActive(section) ? resume : filtered)[section]">
            <header>
              <strong v-if="item.title">{{ item.title }}</strong>
              <a v-if="item.url" :href="item.url" target="_blank">{{ item.name }}</a>
              <small v-if="item.duration">{{ item.duration }}</small>
            </header>
            <div v-if="item.description">{{ item.description }}</div>
          </li>
        </ol>
      </section>
      <section id="references">
        <header>
          <h2><a href="#references">references</a></h2>
        </header>
        <ul>
          <li>
            Available on <a :href="`mailto:${resume.info.email}`" target="_blank">request</a>.
          </li>
        </ul>
      </section>

      <footer id="footer">
        <a :href="file" target="_blank">
          <code>{}</code>
          <span>View JSON Source</span>
        </a>
      </footer>
    </main>
  </template>
  
  <script src="./app.js"></script>
  <script>
    if(!/^test\.|localhost|\.dev$/i.test(document.location.hostname)){
      // google analytics
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-79161632-1', 'auto');
      ga('send', 'pageview');
    }
  </script>
</body>
</html>
