<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <title>Murray Rowan - Résumé</title>
  <link rel="icon" href="https://s.gravatar.com/avatar/cdcf18869ba9508c801c6abb9031c73e?s=256" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
  <link rel="stylesheet" href="./style.postcss" />
</head>
<body>
  <main>
    <div class="loader"></div>
  </main>

  <template id="template">
    <main>
      <template v-if="resume">
        <header id="header">
          <div>
            <div>
              <h1>{{ resume.info.name }}</h1>
              <ul class="social nostyle">
                <li v-for="item of filtered.social" :key="item.name">
                  <a :href="item.url" :title="item.name" target="_blank">
                    <i :class="`large fa fa-${className(item.name)}`"></i>
                    <small>{{ socialName(item.url) }}</small>
                  </a>
                </li>
              </ul>
            </div>
            <p>{{ resume.info.description }}</p>
          </div>
          <!-- <figure>
            <a href="https://s.gravatar.com/avatar/cdcf18869ba9508c801c6abb9031c73e?s=1920" target="_blank">
              <img :src="resume.info.image" width="128" height="128" />
            </a>
          </figure> -->
        </header>
        <section
          v-for="section of ['experience','education']"
          :key="section"
          v-if="filtered[section].length"
          :id="section"
        >
          <header>
            <h2><a :href="`#${section}`">{{ section }}</a></h2>
            <p v-if="resume.info.sections[section]">
              {{ resume.info.sections[section] }}
            </p>
          </header>
          <ol>
            <li v-for="item of filtered[section]" :key="item.title">
              <header>
                <strong v-if="item.title">{{ item.title }}</strong>
                <a v-if="item.url" :href="item.url" target="_blank">{{ item.name }}</a>
                <small v-if="item.duration">{{ item.duration }}</small>
              </header>
              <div v-if="item.description">{{ item.description }}</div>
              <ul v-if="item.tags" class="tags nostyle">
                <li v-for="tag in item.tags" :key="tag">{{ tag }}</li>
              </ul>
            </li>
          </ol>
        </section>
        <section id="references">
          <header>
            <h2><a href="#references">references</a></h2>
          </header>
          <p>Available upon request.</p>
        </section>

        <footer id="footer">
          <a :href="file" target="_blank">
            <code>{}</code>
            <span>View JSON Source</span>
          </a>
        </footer>
      </template>
      <template v-else-if="resume === false">
        <div style="text-align: center; margin: auto; opacity: 0.5;">
          <i class="fa fa-exclamation-triangle fa-4x"></i>
          <p>Well this is embarassing... <br />something seems to be broken.</p>
        </div>
      </template>
      <template v-else>
        <div class="loader"></div>
      </template>
    </main>
  </template>
  
  <script src="./app.js"></script>
  <script>
    if(!/^test\.|localhost|\.dev$/i.test(document.location.hostname)){
      // google analytics
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-79161632-1', 'auto');
      ga('send', 'pageview');
    }
  </script>
</body>
</html>
