// overrides
$primary: #5A0;
$lighter: #ddd;

// includes
@import 'boilerplate';

// tags
body {
	width: auto;
	height: auto;
	background-color: $lighter;
	background-image: url(../img/bg/textured_paper.png);
	color: $darkest;
	font: 400 15px/1.2 Helvetica, Arial, sans-serif;
}
main > section {
	margin-top: 40px;
}
strong + a {
	display: block;
}
small {
	display: block;
	text-transform: uppercase;
	font-size: 10px;
	opacity: .5;
	margin: 5px 0;
}
ol + footer {
	padding-left: 40px;
}
sup {
	color: $primary;
	font-size: .5em !important;
	vertical-align: middle;
	margin-left: 2px;
}
li {
	margin-bottom: 10px;

	&.iconed {
		position: relative;
		list-style: none;
		margin-left: 28px;

		> .fa {
			display: inline-block;
			position: absolute;
			top: 0;
			left: -36px;
			width: 36px;
			height: 20px;
			font-size: 16px;
			text-align: center;
			color: $darker;
		}
		@media (min-width: 600px) {
			flex-basis: calc(50% - 28px);
			padding-right: 20px;
		}
	}
}
.social {
	.fa {
		font-size: 32px;
		text-decoration: none;

		&:hover {
			color: $darker;
		}
	}
}
.btn {
	&:hover {
		text-decoration: underline;
	}
}
.btn.more {
	@extend .passthru;
	display: inline-flex;
	align-items: center;
	background-color: transparent;
	color: $primary;
	font-size: .75em;
	padding: 0;

	.fa {
		margin-right: 2px;
	}
}
.tags {
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: .75em;

	> * {
		display: inline;
		padding: 0;
		margin: 0;

		&:not(:last-child) {
			&:after {
				content: ', ';
			}
		}
	}
}
ol.picks {
	display: inline;
	list-style: none;
	padding: 0;
	margin: 0;

	> * {
		display: inline;
		padding: 0;
		margin: 0;

		a {
			color: inherit;
			text-decoration: underline;
		}
		&:not(:last-child) {
			&:after {
				content: ', ';
			}
		}
		&:last-child {
			&:before {
				content: ' and ';
			}
			&:after {
				content: '. ';
			}
		}
	}
}
ul.more {
	column-count: 2;
	background-color: rgba($darkest, .1);
	color: $dark;
	font-size: small;
	padding: 10px;
	margin: 5px 0;

	> * {
		display: block;
		padding: 0;
		margin: 0;

		a {
			color: inherit;
			text-decoration: underline;
		}
		img {
			display: inline-block;
			margin-top: -4px;
			margin-right: 5px;

			~ .tags {
				margin-left: 21px;
			}
		}
		&.priority {
			a,
			span {
				color: $primary;
			}
		}
	}
	.portfolio & {
		column-count: 1;

		.tags {
			display: block;
		}
		> * {
			margin-bottom: 1em;
		}
	}
}

#app {
	background-color: rgba($lightest, .15);
	min-width: 400px;
	max-width: 600px;
	padding: 2% 5% 5%;
	margin: 0 auto;
	box-sizing: content-box;
}